.container{
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    padding: 50px;
    background-color: #999;
}
.boxA, .boxB, .boxC, .boxD, .boxE, .boxF{
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.boxA{
    grid-column: 1/4;
    background-color: red;
}
.boxB{
    background-color: blue;
}
.boxC{
    background-color: pink;
}
.boxD{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: green;
}
.boxE{
    background-color: purple;
}
.boxF{
    background-color: orange;
}
p{

}